<head>
  <style type="text/css">
    .field{
      text-transform: uppercase;
      font-size: 18px;
    }
    .field input{
      border:2px solid black;
    }
    .bord{
      background-color: #f5f5f5;
      border:3px solid black;
      padding: 40px;
    }
    body{
      background-color: #ffc220 !important;
    }

    .actions{
      display: flex;
      justify-content: center;
      padding: 20px;
    }
    .actions input{
      background-color: #ffc220;
      height: 40px;
      width: 100%;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      border:2px solid black;
    }
  </style>
</head>
<body>
<h1 style="text-align: center;font-size: 80px;text-transform: uppercase; margin-bottom: 0.5em">Login</h1>
<hr class="hrstyle">
<div class="container bord" style="display: flex;justify-content: center;align-items: center;width: 50%;">
  <div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <br>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <br>
    <br>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me%>
        <%= f.label :remember_me, style: 'width:80%;display:inline-block;margin-left:4%;' %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

  </div>
</div>
</body>